*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
}